/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h2 {
    color: #111;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .projects, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.projects .project-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #DE0013;
    padding: 0 5px;
    background: #111;
    transform: translateX(-50%);
}

section .title1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title1::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 350px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title1::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #DE0013;
    padding: 0 5px;
    background: #111;
    transform: translateX(-50%);
}



/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scrollTop {
position: fixed; 
width: 100%;
bottom: 50px;
left: 46.5%;
align-items: center;
height: 20px;
justify-content: center;
z-index: 1000;
cursor: pointer;
animation: fadeIn 0.3s;
transition: opacity 0.4s;
opacity: 0.8;
color: #DE0013;
}

.scrollTop:hover{
opacity: 1;
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 0.5;
}
}

 
/* home section styling */
.home{
    display: flex;
    background-color:white;
    height: 100vh;
    color:#111;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left:0px;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both; 
}

@keyframes example {
0% {
    transform: translatex(-700px);
    }
100% {
    transform: translatex(30px);
    }
}  

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:#DE0013;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #DE0013;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 20px;
    margin-top: 20px;
    border-radius: 0.25rem;
    border: 2px solid #DE0013;
    transition: all 0.5s ease;
    word-spacing: 3px;
    letter-spacing: 1.5px;
}
.home .home-content a:hover{
    color: #111;
    background: #fff;
    transition: all 0.5s ease-out;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: #111;
}

/* about section styling */
.about{
    background: #F3F1F0;
}
.about .title1::after{
    content: "Allow me to introduce myself";
    background: #F3F1F0;
    color: #DE0013;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #DE0013;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background:#DE0013;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 20px;
    margin-top: 20px;
    border-radius: 0.25rem;
    border: 2px solid #DE0013;
    transition: all 0.5s ease;
    word-spacing: 3px;
    letter-spacing: 1.5px;
}
.about .about-content .right a:hover{
    color: #111;
    background: none;
    transition: all 0.5s ease-out;
}


/* projects section styling */

.projects .title::before{
    background: #111;
}

.projects .title::after{
    background:#fff;
    content: "Explore My Work";
}

.projects {
    color:#9599a0;
    background: #fff;
}

.projects .project-content .left{
    width: 45%;
}

.projects .project-content .right{
    width: 55%;
}

.projects .project-content .left img{
    height: 30rem;
    width: 140%;
    object-fit: cover;
    border-radius: 0.25rem;
    z-index: 1;
    transition: all 0.4s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.projects .project-content .left img:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.projects .project-content .right p{
    text-align: justify;
}
.projects .project-content .right .project-info {
    width: 100%;
    min-height:26rem;
    background: #fff; 
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-number {
display: inline-block;
font-size: 1.25rem;
color: #DE0013;
margin-bottom: 0.75rem;
}

.project-info h3 {
font-weight: 500;
margin-bottom: 1.5rem;
font-size: 1.5rem;
color: #111;
}

.project-desc {
word-spacing: 2px;
color: hsl(209, 34%, 30%);
}

.project-stack {
margin-top: 0.5rem;
margin-bottom: 1rem;
padding: 5px 0 5px 0;
}

.project-stack span {
display: inline-block;
background: hsl(212, 33%, 89%);
color: hsl(210, 22%, 49%);
margin: 0.25rem 0.25rem 0.25rem 0;
padding: 0.25rem 0.25rem; 

border-radius: 0.25rem;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.85rem;
}

.project-icon {
color: #DE0013;
font-size: 1.25rem;
margin-right: 0.5rem;
transition: all 0.3s linear;
}
.project-icon:hover {
color: #ee1022;
}


/* contact section styling */
.contact{
    background: #F3F1F0;
}
.contact .title::after{
    content: "let's connect";
    background: #F3F1F0;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #111;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #DE0013;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 190px;
}
.contact .right form .button button{
    display: inline-block;
    background: #DE0013;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 20px;
    margin-top: 20px;
    border-radius: 0.25rem;
    border: 2px solid #DE0013;
    transition: all 0.5s ease;
    word-spacing: 3px;
    letter-spacing: 1.5px;
}
.contact .right form .button button:hover{
    color: #111;
    background: none;
    transition: all 0.5s ease-out;
}

/* footer section styling */
footer{
    background:#F3F1F0;
    padding: 30px 23px;
    color: #111;
    text-align: center;
}
.line{
    width: 70%;
    height: 0px;
    margin: 0 15% 0 15%;
    border-bottom: 0.5px solid rgb(201, 198, 198);
    position: absolute;
}
.footer-name{
    color: #DE0013;
    text-decoration: none;
}

.social-link {
    font-size: 1.75rem;
    color: #DE0013;
    transition: all 0.3s linear;
    padding: 0.7rem;
}
.social-link:hover {
    color: #ee1022;
}

.social-media-links{
    margin: 2rem;
}


/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .projects .project-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .projects .project-content .left img{
    height: 20.5rem;
    width: 100%;
    }

    
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .projects .project-content .left img{
    height: 20.5rem;
    width: 100%;
    }

}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text
    {
        font-size: 19px;
    }

    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scrollTop {
        left: 43%;
        bottom: 190px;
    }
    .project-stack span {
        font-size: 0.60rem;
    }
    .project-info h3 {
        font-size: 1.1rem;
    }

    .project-number {
        font-size: 1.1rem;
    }
    .project-desc {
        font-size: 0.90rem;
    }
    .projects .project-content .left img{
    height: 11.3rem;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    }
}
